# VS Code
.vscode/
+images/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/

# Home Assistant
.storage/
home-assistant.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo